.step-1 .action-container {
  position: relative; }
  .step-1 .action-container .context {
    width: 80%; }
    .step-1 .action-container .context .error {
      margin: 0;
      margin-top: 0.2rem;
      font-size: 12px;
      color: #DB2828; }
  .step-1 .action-container p {
    margin-bottom: 1rem; }
  .step-1 .action-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    font-size: 50px; }

.step-1 .text-or {
  font-size: 42px;
  text-align: center;
  margin: 1rem; }

.step-2 .action-container {
  padding: 0; }
  .step-2 .action-container .property-info {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #336699; }
    .step-2 .action-container .property-info span {
      color: #336699; }
  .step-2 .action-container .property-list {
    height: 440px;
    overflow-y: auto; }
    .step-2 .action-container .property-list .property-item {
      width: auto;
      padding: 1rem;
      border-bottom: 1px solid #D6D6D6;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      user-select: none;
      transition: background-color 200ms; }
      .step-2 .action-container .property-list .property-item:hover {
        background-color: #D6D6D6; }

.step-3 .property-address {
  color: #336699; }

.step-3 .value-stats,
.step-3 .tax-band-stats {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center; }

.step-3 .stat-container {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem; }
  .step-3 .stat-container h3 {
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #336699;
    padding: 0.5rem;
    margin: 0;
    color: white;
    font-size: 18; }
  .step-3 .stat-container .stats {
    border-right: 1px solid #336699;
    border-left: 1px solid #336699;
    border-bottom: 1px solid #336699;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
  .step-3 .stat-container p {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    text-align: center; }
  .step-3 .stat-container.split p {
    display: inline-block; }
    .step-3 .stat-container.split p:last-child {
      border-left: 1px solid #336699; }
    .step-3 .stat-container.split p span {
      display: block;
      font-size: 24px;
      font-weight: bold; }

.step-3 h2 {
  font-size: 24px;
  text-align: center; }
  .step-3 h2 span {
    color: #336699; }

.step-3 .divider {
  width: 100%;
  border-bottom: 1px solid #336699; }

.step-3 .purchase-info {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .step-3 .purchase-info span {
    color: #336699; }

.step-3 .buy-button {
  font-size: 18px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1rem; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #F9F9F9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
  color: #4A4A4A; }

a:link, a:visited, a:hover, a:active {
  color: inherit; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  cursor: text;
  padding: 0;
  border: none;
  border-bottom: 4px solid #4A4A4A;
  transition: border-color 200ms;
  font-size: 42px;
  width: 100%;
  color: #4A4A4A; }
  input:focus {
    outline: none;
    border-color: #336699; }

::-webkit-input-placeholder {
  color: #D6D6D6; }

::-moz-placeholder {
  color: #D6D6D6; }

:-ms-input-placeholder {
  color: #D6D6D6; }

:-moz-placeholder {
  color: #D6D6D6; }

button {
  border: none;
  background-color: #336699;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background-color 200ms;
  -webkit-appearance: none;
  -moz-appearance: none; }
  button:hover {
    background-color: #4775A3; }
  button:active {
    background-color: #2D5B89; }

footer {
  bottom: 0;
  padding: 0.25rem;
  background-color: #336699;
  width: 100%;
  color: white;
  font-size: 12px; }
  footer p {
    margin: 0.25rem;
    text-align: center; }
  footer a {
    text-decoration: underline; }

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  padding-bottom: 1rem; }

.action-container {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #336699;
  padding: 1rem; }
  .action-container p {
    font-size: 18px;
    margin: 0; }

.steps-container {
  padding-top: 2rem;
  margin-bottom: 0.5rem; }
  .steps-container .steps, .steps-container .start-over {
    display: inline-block; }
  .steps-container .steps {
    color: #9B9B9B;
    font-size: 24px; }
  .steps-container .start-over {
    color: #336699;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    margin-left: 0.5rem; }
