@import 'colours';

.step-2 {
    .action-container {
        padding: 0;

        .property-info {
            text-align: center;
            margin-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $blue;

            span {
                color: $blue;
            }
        }

        .property-list {
            height: 440px;
            overflow-y: auto;

            .property-item {
                width: auto;
                padding: 1rem;
                border-bottom: 1px solid $very-light-grey;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
                user-select: none;
                transition: background-color 200ms;

                &:hover {
                    background-color: $very-light-grey;
                }
            }
        }
    }
}