@import 'colours';

.step-3 {
    .property-address {
        color: $blue;
    }

    .value-stats,
    .tax-band-stats {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .stat-container {
        $border-radius: 0.5rem;
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    
        h3 {
            text-align: center;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            background-color: $blue;
            padding: 0.5rem;
            margin: 0;
            color: white;
            font-size: 18;
        }

        .stats {
            border-right: 1px solid $blue;
            border-left: 1px solid $blue;
            border-bottom: 1px solid $blue;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        p {
            text-align: center;
            margin: 0;
            padding: 0.5rem;
            text-align: center;
        }

        &.split {
            p {
                display: inline-block;

                &:last-child {
                    border-left: 1px solid $blue;
                }

                span {
                    display: block;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
    }

    h2 {
        font-size: 24px;
        text-align: center;

        span {
            color: $blue;
        }
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid $blue;
    }

    .purchase-info {
        margin-top: 1rem;
        margin-bottom: 1rem;
        span {
            color: $blue;
        }
    }

    .buy-button {
        font-size: 18px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 1rem;
    }
}