@import 'colours';

.step-1 {
    .action-container {
        position: relative;

        .context {
            width: 80%;

            .error {
                margin: 0;
                margin-top: 0.2rem;
                font-size: 12px;
                color: $red;
            }
        }

        p {
            margin-bottom: 1rem;
        }

        button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 20%;
            font-size: 50px;
        }
    }

    .text-or {
        font-size: 42px;
        text-align: center;
        margin: 1rem;
    }
}
