@import 'step-1';
@import 'step-2';
@import 'step-3';
@import 'colours';

html, body {
   margin: 0;
   padding: 0; 
}

body {
    background-color: $off-white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
    min-width: 100%;
    min-height: 100%;
    color: $grey;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    cursor: text;
    padding: 0;
    border: none;
    border-bottom: 4px solid $grey;
    transition: border-color 200ms;
    font-size: 42px;
    width: 100%;
    color: $grey;

    &:focus {
        outline: none;
        border-color: $blue;
    }
}

::-webkit-input-placeholder { color: $very-light-grey; }
::-moz-placeholder { color: $very-light-grey; }
:-ms-input-placeholder { color: $very-light-grey; }
:-moz-placeholder { color: $very-light-grey; }

button {
    border: none;
    background-color: $blue;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background-color 200ms;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        background-color: $light-blue;
    }

    &:active {
        background-color: $dark-blue;
    }
}

footer {
    bottom: 0;
    padding: 0.25rem;
    background-color: $blue;
    width: 100%;
    color: white;
    font-size: 12px;

    p {
        margin: 0.25rem;
        text-align: center;
    }

    a {
        text-decoration: underline;
    }
}

.app-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    padding-bottom: 1rem;
}

.action-container {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $blue;
    padding: 1rem;

    p {
        font-size: 18px;
        margin: 0;
    }
}

.steps-container {
    padding-top: 2rem;
    margin-bottom: 0.5rem;

    .steps, .start-over {
        display: inline-block;
    }

    .steps {
        color: $light-grey;
        font-size: 24px;
    }

    .start-over {
        color: $blue;
        text-decoration: underline;
        font-size: 14px;
        cursor: pointer;
        margin-left: 0.5rem;
    }
}
